* {
    font-family: Arial;
    font-size 120%;
}

a {
    color:purple;
    text-decoration: none;
    transition: color 0.1s
 }

a:hover {
    color: lightpink;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: purple;
    border-radius: 5px;
    padding: 2px 10px;
    color:white;
    border:0;
    transition: background-color 0.1s;
}
