* {
  font-family: Arial;
  font-size: 110%;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: lightpink;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: purple;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
}

button:hover {
  background-color: lightpink;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 250px;
  overflow: auto;
}

li {
  padding: 5px;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
}

.response {
  font-style: italic;
  font-size: 150%;
  color: gray;
  text-align: center;
}

.time {
  position: absolute;
  top: 20px;
  right: 20px;
}
